.box {
  background: $white;
  padding: 30px 35px;
}

.box-rounded-sm {
  border-radius: 5px;
}

.box-idea {
  min-height: 150px;
}

.box-border-sides {
  border-right: 1px solid $grey;
  border-left: 1px solid $grey;
}