.box {
  background: $white;
  padding: 30px 35px;
  word-wrap: break-word;
}

.drop-box-shadow {
  box-shadow: 0px 5px 5px #f3f3f3;
}

.box-rounded-sm {
  border-radius: 5px;
}

.box-idea {
  min-height: 150px;
}

.box-border-sides {
  border-right: 1px solid $grey;
  border-left: 1px solid $grey;
}
