.btn {
  border: 0;
  border-radius: 0;
  font-size: 14px;
  font-weight: 200;
}

.btn-full-width {
  border-radius: 0;
  width: 100%;
}

.btn-brand {
  background: $white;
  border: 2px solid $brand;
  color: $brand;
  font-weight: 500;

  &:hover {
    background: $brand;
    color: $white;
  }
}

.btn-brand-contrast {
  border: 2px solid $white;
  color: $white;
  font-weight: 500;

  &:hover {
    background: $white;
    color: $brand;
  }
}

.btn-idea-action {
  border-bottom: 1px solid $grey;
  color: $brand;
  padding: 15px;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background: $brand;
    color: $white;
  }
}

.btn-transparent {
  border: 0;
  background-color: transparent;
}

.btn-vote {
  display: block;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    background: $brand;
  }
}
