.btn {
  border: 0;
  border-radius: 0;
  font-size: 14px;
  font-weight: 200;
}

.btn-brand {
  background: $white;
  border: 2px solid $brand;
  color: $brand;
  font-weight: 500;

  &:hover {
    background: $brand;
    color: $white;
  }
}

.btn-twitter {
  border: 2px solid $twitter-blue;
  color: $twitter-blue;

  &:hover {
    background: $twitter-blue;
    color: $white;

    .fa-twitter {
      color: $white;
    }
  }

  .fa-twitter {
    color: $twitter-blue;
  }
}

.btn-profile {
  border: 2px solid $white;
  color: $white;
  font-weight: 500;

  &:hover {
    background: $white;
    color: $brand;
  }
}

.btn-full-width {
  border-radius: 0;
  width: 100%;
}

.btn-idea-action {
  border-bottom: 1px solid $grey;
  color: $brand;
  padding: 15px;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background: $grey;
  }
}