.btn {
  border: 0;
  font-size: 16px;
  font-weight: 200;
}

.btn-twitter {
  border: 2px solid $twitter-blue;
  color: $twitter-blue;

  &:hover {
    background: $twitter-blue;
    color: $white;

    .fa-twitter {
      color: $white;
    }
  }

  .fa-twitter {
    color: $twitter-blue;
  }
}

.btn-profile {
  color: $brand;
  border: 2px solid $brand;

  &:hover {
    color: $white;
    background: $brand;
  }
}

.btn-full-width {
  border-radius: 0;
  width: 100%;
}

.btn-idea-action {
  border-bottom: 1px solid #eee;
  color: $brand;
  padding: 15px;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background: #eee;
  }
}