.btn {
  border: 0;
}

.btn-twitter {
  border: 2px solid #00ACED;
  color: #00ACED;

  &:hover {
    background: #00ACED;
    color: #fff;

    .fa-twitter {
      color: #fff;
    }
  }

  .fa-twitter {
    color: #00ACED;
  }
}