.fa-brand {
  color: $brand;
}

.fa-white {
  color: $white;
}

.fa-xxs {
  font-size: 12px;
}

.fa-xs {
  font-size: 14px;
}

.fa-sm {
  font-size: 16px;
}

.fa-md {
  font-size: 20px;
}

.fa-lg {
  font-size: 26px;
}
