#masthead-home {
  h1, h2, h3, h4, .h1, .h2, .h3, .h4, .h5 {
    color: #fff;
  }

  .sub-text {
    font-weight: 100;
  }
}

#pitch {
  font-size: 18px;
  padding-bottom: 30px;
}

.square-texture {
  background-image: image-url('square_texture.png');
}

.dropdown {
  &.open {
    background-color: $brand;
    border-radius: 4px 4px 0 0;

    .btn-transparent {
      color: $white;
    }
  }
}

.dropdown-menu {
    border: 0;
    border-radius: 0 0 4px 4px;
    min-width: 100%;

    li > a {
      padding: 10px 20px;

      &:hover {
        background: $brand;
        color: $white;
      }
    }
  }

  .banner {
    padding: 0px 35px;

    .title {
      margin-top: 10px;
    }
  }
