#user-ideas {
  background: #fff;
  padding-top: 70px;

  p {
    display: block;
  }

  .fa {
    color: #EE8383;
  }

  .idea-comments {
    margin-top: 20px;
  }
}

#profile-header {
  color: $white;

  .nav-justified {
    li {
      background: #EE8383;

      a {
        border: 0;
        margin: 0;
      }

      &.active > a,
      &:hover > a {
        background: $white;
      }
    }
  }
}

.upvote-btn {
  display: block;

  &:hover {
    background: #eee;
    text-decoration: none;
  }
}

.upvote-icons {
  padding: 40px 0;
}

.upvote-num {
  font-size: 18px;
}