.profile-ideas {
  background: #fff;

  a, .fa {
    color: $brand;
  }

  a {
    font-weight: 500;
  }

  p {
    display: block;
  }

  .idea-comments {
    margin-top: 20px;
  }
}

#profile-header {
  color: $white;

  .nav-justified {
    li {
      background: $pink;

      a {
        border: 0;
        margin: 0;
      }

      &.active > a,
      &:hover > a {
        background: $white;
      }
    }
  }
}
