.profile-ideas {
  background: #fff;

  p {
    display: block;
  }

  .fa {
    color: #ee8383;
  }

  .idea-comments {
    margin-top: 20px;
  }
}

#profile-header {
  color: $white;

  .nav-justified {
    li {
      background: #ee8383;

      a {
        border: 0;
        margin: 0;
      }

      &.active > a,
      &:hover > a {
        background: $white;
      }
    }
  }
}
