body {
  background-color: $white;
  background-image: image-url("bg.png");
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

a {
  color: $brand;
}

.container {
  width: 960px;
}

.pane {
  padding: 10px 0;
}

.pane-lg {
  padding: 70px 0;
}

.pane-no-bottom {
  padding-bottom: 0 !important;
}

.pane-dark {
  background: $brand;
}

.pane-white {
  background: $white;
}

.fa-text {
  margin-right: 10px;
}

.col-no-gutter {
  padding: 0;
}

.col-right-no-gutter {
  padding-right: 0;
}

.col-left-no-gutter {
  padding-left: 0;
}
